*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/config/initializers/omniauth.rb
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/elasticsearch-0.90.3